@charset "ISO-8859-1";

body {
	background-color: #9b59b6;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

#newUserBody {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	width: 400px;
	max-width: 100%;
	overflow: hidden;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.header h1 {
	margin: 0px;
}

.outerForm {
	padding: 30px 40px;
}

#formButton {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
}

#formButton:hover {
	background-color: #9b59b6;
	border: 2px solid #9b59b6;
}

.form-input {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-errors {
	color: red;
	font-style: italic;
}

.content-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	width: 100%;
}

.content-table tr th {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

tr:hover {
	background-color: #ddd;
}

.content-table th, .content-table td {
	padding: 12px 15px;
}

.content-table tr td {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

.container a:link, .container a:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	margin: 10px 0; text-align : center;
	text-decoration: none;
	display: block;
	text-align: center;
}

.container a:hover, .container a:active {
	background-color: red;
}

.content-table a:link, .content-table a:visited {
	text-decoration: none;
}
.content-table a:hover, .content-table a:active {
	text-decoration: underline;
}
.content-table th a {
	color: red;
	font: bold;
}

.indexHeader{
	background-color: lightblue;
	text-align: center;
	padding: 30px;
}


.indexFooter{
	padding: 20px;
	text-align: center;
	background: #ddd;
	position: fixed;
	bottom: 0px;
	width: 100%;
}